## Part 1: Preprocessing

## The purpose of this workflow is to predict employee attrition rates using a branched neural network.

## Methodology
 - Label encoding for Attrition and overtime columns turing 'yes', 'no' to 1, 0

 - Unicode(utf-8) encoding for string values in object columns, this preserves the native relationships between columns

	- Challenges with unicode(utf-8): The unicode(utf-8) arrays must all be the same length. The array with the greatest length should be identified and used as the maxlen= for padding.

	- Benefits of unicode(utf-8): Unicode(utf-8) removed the need for excessive data handling before model training. It allows the entire original dataset to be used while preserving all known and unknown relationships. While unicode encoding does increase the size of the original dataset by virtue of using integers in an array rather then strings the benefit of faster and more accurate modeling with minimal alteration to the original data out weights the perceived disadvantage of the increased file size

 # Data uniformation

The object columns need to be converted to numerical values. BusinessTravel can be hardcode remapped as the values easily
translate to actionable weights

## Remapping
 - BusinessTravel will be hardcode remapped Non_travel: 0, Travel_Rarely: 1, Travel_Frequently: 2.

  - These 'weights' are not necessarily ordered, a person who does not travel may be just as likely as a frequent traveler to stay or quite. The point of the remapping is to maintain the possibility of column relationships

 - Marital Status can be hardcode remapped Divorced: 0, Single: 1, Married: 2.

  - This map admitted requires liberty is broad presumption. Single persons are not inherently more or less likely to quite, but on average single persons are inherently more flexible/unstable in daily life. With divorced persons, it is easier to presume that they either are currently going through or generally have difficulty maintaining consistency ove the long term. Married persons typically show the highest ability to maintain stability.

## Unicode encoding
 - encoding columns [Department, EducationField, JobRole]


## Model Selection
 - Tensorflow keras model
  - Branched Neural Network

*** For the sake of testing he rawest, worst case, brute-forced and inelegant use-case. The data will NOT be normalized, scaled, or transformed in anyway over than the uniformation process. If you are looking for the industry standard and "best practice" approach you will find it in (attrition)[attrition.ipynb] ***

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Model
from tensorflow.keras import layers
import pandas as pd
import numpy as np

In [2]:
#  Import and read the attrition data
df = pd.read_csv('csv_data/original_unaltered.csv').drop(columns=['Unnamed: 0'])
# df.to_csv('csv_data/original_unaltered.csv')

In [3]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,Research & Development,23,2,Medical,3,41,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,Research & Development,6,1,Medical,4,42,2,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,Research & Development,4,3,Life Sciences,2,87,4,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,Sales,2,3,Medical,4,63,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,Research & Development,8,3,Medical,2,82,4,...,3,1,0,6,3,4,4,3,1,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EnvironmentSatisfaction   1470 non-null   int64
 8   HourlyRate                1470 non-null   int64
 9   JobInvolvement            1470 non-null   int64
 10  JobLevel                  1470 non-null   int64
 11  JobRole                   1470 non-null   object
 12  JobSatisfaction           1470 non-null   int64
 13  MaritalStatus             1470 non-null   object
 14  NumCompaniesWorked        1470 non-null   int64
 15  OverTime                  1470 non-null   object
 16  PercentSalaryHike         1470 non-null   int64
 17  PerformanceRating         1470 non-null   int64
 18  RelationshipSatisfaction  1470 non-null   int64
 19  StockOptionLevel          1470 non-null   int64
 20  TotalWorkingYears         1470 non-null   int64
 21  TrainingTimesLastYear     1470 non-null   int64
 22  WorkLifeBalance           1470 non-null   int64
 23  YearsAtCompany            1470 non-null   int64
 24  YearsInCurrentRole        1470 non-null   int64
 25  YearsSinceLastPromotion   1470 non-null   int64
 26  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(20), object(7)
memory usage: 310.2+ KB

In [5]:
# Rename Attrition column to CurrentlyEmployed and change the values from 'yes','no' to True, False
"""
    CurrentlyEmployed aligns more perfectly with the stated goal of this assignment. Using Attrition as a column in the dataset
    meant to predict Attrition will most likely cause the model to 'cheat', or at the very least cause data leakage, producing
    an inaccurate and unactionable prediction.
		
    Columns[CurrentlyEmployed, Overtime]: convert to binary encoding
"""
df.rename(columns={'Attrition': 'CurrentlyEmployed'}, inplace=True)
df['CurrentlyEmployed'] = df['CurrentlyEmployed'].map({'Yes': 1, 'No': 0})
df['OverTime'] = df['OverTime'].map({'Yes': 1, 'No': 0})

In [6]:
df

,Age,CurrentlyEmployed,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,Travel_Frequently,Research & Development,23,2,Medical,3,41,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,0,Travel_Rarely,Research & Development,6,1,Medical,4,42,2,...,3,1,1,9,5,3,7,7,1,7
1467,27,0,Travel_Rarely,Research & Development,4,3,Life Sciences,2,87,4,...,4,2,1,6,0,3,6,2,0,3
1468,49,0,Travel_Frequently,Sales,2,3,Medical,4,63,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,0,Travel_Rarely,Research & Development,8,3,Medical,2,82,4,...,3,1,0,6,3,4,4,3,1,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   CurrentlyEmployed         1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EnvironmentSatisfaction   1470 non-null   int64
 8   HourlyRate                1470 non-null   int64
 9   JobInvolvement            1470 non-null   int64
 10  JobLevel                  1470 non-null   int64
 11  JobRole                   1470 non-null   object
 12  JobSatisfaction           1470 non-null   int64
 13  MaritalStatus             1470 non-null   object
 14  NumCompaniesWorked        1470 non-null   int64
 15  OverTime                  1470 non-null   int64
 16  PercentSalaryHike         1470 non-null   int64
 17  PerformanceRating         1470 non-null   int64
 18  RelationshipSatisfaction  1470 non-null   int64
 19  StockOptionLevel          1470 non-null   int64
 20  TotalWorkingYears         1470 non-null   int64
 21  TrainingTimesLastYear     1470 non-null   int64
 22  WorkLifeBalance           1470 non-null   int64
 23  YearsAtCompany            1470 non-null   int64
 24  YearsInCurrentRole        1470 non-null   int64
 25  YearsSinceLastPromotion   1470 non-null   int64
 26  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(22), object(5)
memory usage: 310.2+ KB

In [8]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64

In [9]:
df['MaritalStatus'] = df['MaritalStatus'].map({"Divorced": 0, "Single": 1, "Married": 2})

In [10]:
df['BusinessTravel'] = df['BusinessTravel'].map({"Non_travel": 0, "Travel_Rarely": 1, "Travel_Frequently": 2})

In [11]:
df['Department'].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [12]:
df['JobRole'].value_counts()

JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

In [13]:
df.sample(n=10)

,Age,CurrentlyEmployed,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
554,27,0,1.0,Research & Development,7,3,Medical,4,55,2,...,3,1,0,9,2,1,7,6,0,7
523,50,0,1.0,Research & Development,28,1,Medical,4,74,4,...,3,3,3,20,3,3,20,8,3,8
1359,34,0,1.0,Sales,3,1,Medical,4,75,2,...,3,3,0,9,3,2,4,2,0,1
117,36,0,2.0,Sales,11,2,Technical Degree,2,92,3,...,3,3,1,10,6,3,9,7,2,8
544,47,0,2.0,Sales,3,3,Medical,4,49,3,...,3,4,2,28,2,2,22,2,11,13
1452,50,1,2.0,Sales,1,4,Life Sciences,2,94,3,...,3,4,2,12,3,3,6,3,0,1
1080,46,0,1.0,Sales,3,3,Life Sciences,3,51,3,...,3,4,1,23,2,4,13,12,5,1
1224,26,0,1.0,Research & Development,17,4,Medical,4,62,1,...,3,3,3,3,3,4,3,2,0,2
392,54,0,1.0,Research & Development,5,2,Medical,1,86,3,...,3,3,1,24,4,2,4,2,1,2
730,30,0,1.0,Research & Development,8,2,Life Sciences,2,73,4,...,3,3,3,9,4,2,8,7,1,7